<!DOCTYPE html>

<!--  Thymeleaf와 Spring Security를 사용할 때 필요한 XML 네임스페이스를 정의 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!-- 로그인을 하지 않은 사용자들은 누구나 볼 수 있다. -->
  <!-- 로그인 완료 상태라면, 해당 내용이 보이지 않는다. -->
  <!-- 특정 콘텐츠를 익명 사용자에게만 허용하는 데 사용되는 Thymeleaf 속성 -->
  <div sec:authorize="isAnonymous()"> 
    <a th:href="@{/user/signup}">회원 가입</a>
    <a th:href="@{/auth/login}">로그인</a>
  </div>

  <!-- 인증 받은 사용자(로그인 한 사용자) 들이 볼 수 있다. -->
  <div sec:authorize="isAuthenticated()">
    <span sec:authentication="name"></span>님 반갑습니다.
    <form action="/auth/logout"> <!-- 이 요청은 th:action 요청으로 하지 않고, 이 요청은 securityConfig가 받는다. -->
      <button type="submit">로그아웃</button>
    </form>
  </div>
  
  <!-- user_role이 "ADMIN"인 사용자들이 볼 수 있다. -->
  <div sec:authorize="hasAnyAuthority('ADMIN')">
    <div>Welcome ADMIN</div>
    <a th:href="@{/admin/page}">관리자 페이지</a>
  </div>
  
  <!-- user_role이 "USER"인 사용자들이 볼 수 있다. -->
  <div sec:authorize="hasAnyAuthority('USER')">
    <div>Welcome USER</div>
  </div>
</body>
</html>